.container-fluid
  .row-fluid
    .span12
      %h2 book meeting
      %input.input-xlarge{ :type => "text", :id => "title", :placeholder => "meeting title" }
      %br
      %select.input-xxlarge{ :id => "uuid" }
        - rooms.each do |room|
          - if room.id == id.to_i
            %option{ :value => "room.uuid", :selected => "selected" } 
              = room.full_name
          - else
            %option{ :value => "room.uuid" }
              = room.full_name
      %form.form-inline
        %select{ :id => "start" }
          - 13.times do |i|
            - if i == 3 
              %option{ :value => "#{i+6}:00", :selected => "selected" }
                = "#{i+6}:00"
            - else
              %option{ :value => "#{i+6}:00" }
                = "#{i+6}:00"
            %option{ :value => "#{i+6}:30" }
              = "#{i+6}:30"
        %select{ :id => "duration", :value => "" }
          %option{ :selected => "selected" } select duration
          %option{ :value => "30" } 30 minutes
          %option{ :value => "60" } 1 hour
          %option{ :value => "90" } 1.5 hours
          %option{ :value => "120" } 2 hours
          %option{ :value => "150" } 3 hours
          %option{ :value => "240" } 4 hours
          %option{ :value => "720" } all day
      %textarea.field.span8{ :rows => 10, :id => "details", :placeholder => "meeting details" } 
      %br
      %button.btn.btn-primary.btn-large{ :onclick => "reserve(); return false;" } reserve
      %hr
