:javascript
  $(function() {
    set_menu("rooms");
  });
.container-fluid
  .row-fluid
    .span12
      %dl
        %dt
          %h2= room.descriptive_name
          %dd
            -room.tags.each do |tag|
              - if tag.tag == "admin"
                %button.btn.btn-warning.btn-mini{ :onclick => "redirect( 'tags', '#{tag.tag}', '' ); return false;" }
                  = tag.tag
              - else
                %button.btn.btn-success.btn-mini{:onclick => "redirect( 'tags', '#{tag.tag}', '' ); return false;"}
                  = tag.tag
          %dd.lead
            = room.description
          %dd
            %h4= Date.today
            %table.table.table-bordered.table-striped.table-condensed
              %th organizer
              %th title
              %th start
              %th end
              %th recurring
              %th action
              - admin = [ 1, 2, 3, 4, 5, 6, 16, 17, 18, 19, 20 ] 
              - book.each do |k,v|
                - if v[:open]
                  %tr.info
                    %td= v[:organizer]
                    %td= v[:title]
                    %td= v[:start]
                    %td= v[:end]
                    %td= v[:recurring]
                    %td
                      - admin_room = admin.include?(room.id) 
                      - if @user != nil and ((admin_room and @user.admin) or !admin_room)
                        %button.btn.btn-info.btn-mini{:onclick => "redirect( 'reservations', '', 'roomid=#{room.id}&start=#{v[:start]}&end=#{v[:end]}' ); return false;" }
                          book
                - else
                  %tr.error
                    %td= v[:organizer]
                    %td= v[:title]
                    %td= v[:start]
                    %td= v[:end]
                    %td= v[:recurring]
                    %td
          %dd
            %button.btn.btn-primary.btn-mini
              = "like (0)"
            %button.btn.btn-info.btn-mini
              = "comments (0)"

